* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #121116;
    color: #fff;
    font-family: "Inknut Antiqua", serif;
}

#home-page-header {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  padding: 0px 40px;
  gap: 20px;
}
